<a href="https://colab.research.google.com/github/JonPaulBIlbao/Machine-Learning-in-Finance-Python-2026/blob/main/00_01_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Session 1 — Introduction to Python & Google Colab**
### Machine Learning in Finance — University of Deusto

Welcome to your first Python session. Today you will:
- Learn how Google Colab works
- Learn Python basics: variables, data types, expressions
- Learn fundamental data structures: **lists, tuples, dictionaries**
- Learn control flow: `if`, `for`, `while`
- Learn to write functions
- Complete progressively more complex exercises

This notebook is designed to be used in class and should take **around 100 minutes**.

## **1. Getting Started with Google Colab**

### Run your first Python cell

In [1]:
print('Welcome to Machine Learning in Finance!')

Welcome to Machine Learning in Finance!

### Checking Python version

In [2]:
import sys
sys.version

'3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]'

## **2. Python Basics: Variables & Types**
Python has several basic data types: integers, floats, strings, booleans.

In [3]:
a = 10
b = 3.5
c = 'Deusto'
d = True

a, b, c, d

(10, 3.5, 'Deusto', True)

### Check variable types

In [4]:
type(a), type(b), type(c), type(d)

(int, float, str, bool)

### **Exercise 1**
Create 3 variables:
- `age` storing an integer
- `price` storing a float
- `name` storing a string

Then print their types.

In [5]:
# Your code here
age = 20
price = 15.99
name = 'Jon'

print(type(age), type(price), type(name))

<class 'int'> <class 'float'> <class 'str'>

## **3. Lists**
A list stores **ordered, mutable** collections.

In [6]:
prices = [10, 12, 11, 14, 13]
prices

[10, 12, 11, 14, 13]

### Indexing lists

In [7]:
prices[0], prices[-1]

(10, 13)

### Modifying lists

In [8]:
prices[2] = 99
prices

[10, 12, 99, 14, 13]

### Slicing lists

In [9]:
prices[1:4]  # elements 1, 2, 3

[12, 99, 14]

## **3.1 Understanding List Indexing **
Python list indexing is powerful but can be tricky for beginners. Mastering it is essential for all future work in Machine Learning.

### **Rule 1 — Python uses *zero-based indexing***
The first element has index **0**, not 1.
```python
numbers = [10, 20, 30, 40]
numbers[0]   # 10
numbers[1]   # 20
```

### **Rule 2 — Negative indices count from the end**
- `-1` → last element
- `-2` → second to last
```python
numbers[-1]   # 40
numbers[-2]   # 30
```

### **Rule 3 — Slicing uses `start:end` and *end is exclusive***
```python
numbers[1:3]   # [20, 30]
```
This means:
- `list[:3]` gives first three elements
- `list[2:]` gives all elements from index 2 onward

### **Rule 4 — Slicing is safe (never errors)**
```python
numbers[2:100]   # [30, 40]
```
But direct indexing *will* cause an error:
```python
numbers[100]   # IndexError
```

### **Rule 5 — Lists are mutable**
```python
numbers[1] = 999
```
This is essential in data manipulation.

In [10]:
# Example: Try these
nums = [5, 10, 15, 20, 25]
print('First element:', nums[0])
print('Last element:', nums[-1])
print('Slice 1:4:', nums[1:4])
print('Attempt to slice beyond range:', nums[2:10])

First element: 5
Last element: 25
Slice 1:4: [10, 15, 20]
Attempt to slice beyond range: [15, 20, 25]

### **Exercise: Indexing Practice**
Given the list below:
```python
prices = [100, 102, 98, 105, 110, 108]
```
Do the following:
1. Print the first element
2. Print the last two elements
3. Print elements from index 2 to 4
4. Replace the third element with 999
5. Slice the first four elements

Try below:

In [11]:
# Your code here
prices = [100, 102, 98, 105, 110, 108]

print(prices[0])
print(prices[-2:])
print(prices[2:5])
prices[2] = 999
print(prices)
print(prices[:4])

100
[110, 108]
[98, 105, 110]
[100, 102, 999, 105, 110, 108]
[100, 102, 999, 105]

### **Exercise 2: List Manipulation**
1. Create a list called `stocks = ['AAPL','TSLA','AMZN','NFLX']`
2. Print the second element
3. Replace AMZN with META
4. Print the last two elements using slicing

In [ ]:
# Your code here
stocks = ['AAPL','TSLA','AMZN','NFLX']
print(stocks[1])
stocks[2] = 'META'
print(stocks[-2:])

## **4. Tuples**
A tuple is like a list but **immutable**.

In [ ]:
dimensions = (20, 40)
dimensions

Trying to modify a tuple raises an error.

## **5. Dictionaries**
Dictionaries store key–value pairs. They are extremely important in Python.

In [ ]:
stock = {'ticker':'AAPL', 'price':183.5, 'sector':'Tech'}
stock

### Accessing values by key

In [ ]:
stock['price']

### Adding a new key

In [ ]:
stock['country'] = 'USA'
stock

### **Exercise 3: Dictionary Practice**
Create a dictionary for a stock called `msft` with keys:
- ticker
- price
- market_cap

Then print each value separately.

In [ ]:
# Your code here
msft = {'ticker':'MSFT','price':320.1,'market_cap':2800}

print(msft['ticker'])
print(msft['price'])
print(msft['market_cap'])

## **6. Control Flow: if, for, while**

### If statements

In [ ]:
price = 120
if price > 100:
    print('Expensive')
else:
    print('Cheap')

### For loops

In [ ]:
for i in range(5):
    print('Iteration', i)

### Looping over lists

In [ ]:
for p in prices:
    print('Price:', p)

### While loops

In [ ]:
x = 0
while x < 3:
    print('x =', x)
    x += 1

### **Exercise 4: Loop Practice**
Given a list of prices, print:
- each price
- if it is above 12, print: "High"
- otherwise print: "Low"

In [ ]:
# Your code here
prices = [10,12,15,11,14]
for p in prices:
    print(p, 'High' if p > 12 else 'Low')

## **7. Functions**

### Example function

In [ ]:
def greet(name):
    return f'Hello, {name}!'

greet('Jon')

### Function with math

In [ ]:
def square(x):
    return x*x

square(9)

### **Exercise 5**
Write a function called `avg_return(prices)` that computes the average daily return.

In [ ]:
# Your code here

def avg_return(prices):
    rets = []
    for i in range(1, len(prices)):
        rets.append((prices[i]-prices[i-1])/prices[i-1])
    return sum(rets)/len(rets)

avg_return([10,11,12,11,15])

## **8. Mini Project (15 minutes)**
Given a list of prices:
1. Compute daily returns
2. Compute average return
3. Compute volatility (standard deviation)
4. Print results cleanly

Use only Python basics (no pandas).

In [ ]:
# Your code here
import math

prices = [10,12,11,14,13,15]

# 1. Daily returns
returns = [(prices[i]-prices[i-1])/prices[i-1] for i in range(1,len(prices))]

# 2. Average
avg_ret = sum(returns)/len(returns)

# 3. Volatility
vol = math.sqrt(sum((r-avg_ret)**2 for r in returns)/len(returns))

print('Daily returns:', returns)
print('Average return:', avg_ret)
print('Volatility:', vol)

Daily returns: [0.2, -0.08333333333333333, 0.2727272727272727, -0.07142857142857142, 0.15384615384615385]
Average return: 0.09436230436230436
Volatility: 0.14530937146685396